@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Regular.ttf");
}
@font-face {
    font-family: "Rubik-Medium";
    src: url("../fonts/Rubik-Medium.ttf");
}
@font-face {
    font-family: "Rubik-Bold";
    src: url("../fonts/Rubik-Bold.ttf");
}
