$screen-mobile: 375px;
$screen-desktop: 1440px;
$font-normal: "Rubik", Arial, Heltivica, sans-serif;
$font-medium: "Rubik-Medium", Arial, Heltivica, sans-serif;
$font-bold: "Rubik-Bold", Arial, Heltivica, sans-serif;
$color-gradient-light-magenta: hsl(293, 100%, 63%);
$color-gradient-light-violet: hsl(264, 100%, 61%);
$color-pattern-gray: hsl(270, 20%, 96%);
$color-main-heading: hsl(271, 36%, 24%);
$color-paragraph: hsl(270, 7%, 64%);
$color-placeholder: hsl(206, 6%, 79%);
$color-bg-message-user: hsl(271, 15%, 43%);
$color-message-user: hsl(276, 55%, 52%);
$color-user-status: hsl(276, 100%, 81%);
$color-white: hsl(0, 0%, 100%);
$color-bg-gray: #f6f6f8;
$color-radio-button-outline: hsl(289, 100%, 72%);
$color-submit-button: hsl(271, 36%, 24%);
$mobile-border-radius: 1.5em;
$message-border-radius: 1em;

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  /* Allow third-party component to set other box-sizing value */
  box-sizing: inherit;
}

body {
  height: 100vh;
  padding: 3em 0 1em;
  position: relative;
  overflow-x: hidden;
  font-family: $font-normal;
  font-size: 16px;
  background-color: $color-bg-gray;

  @media (min-width: $screen-desktop) {
    padding: 8em 0 3em;
  }
}

body * + * {
  margin-top: 1.5em;
}

body::before,
body::after {
  width: 35em;
  height: 70vh;
  position: absolute;
  content: "";
  z-index: -1;

  @media (min-width: $screen-desktop) {
    height: 90vh;
  }
}
body::before {
  top: 0;
  left: -23em;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background: linear-gradient(
    to bottom,
    $color-gradient-light-magenta,
    $color-gradient-light-violet
  );

  @media (min-width: $screen-desktop) {
    left: -8.75em;
  }
}
body::after {
  bottom: 0;
  right: -23em;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  background: $color-pattern-gray;

  @media (min-width: $screen-desktop) {
    right: -16em;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $screen-desktop) {
    flex-direction: row;
    justify-content: center;
  }
}

.illustration {
  margin: 1em 3.5em;
  max-width: 16em;
  background-color: $color-bg-gray;
  border: 10px solid $color-white;
  border-radius: $mobile-border-radius;
}

.illustration__header:before {
  width: 50%;
  height: 20%;
  position: absolute;
  top: 0;
  left: 25%;
  border-bottom-left-radius: $mobile-border-radius;
  border-bottom-right-radius: $mobile-border-radius;
  content: "";
  background: $color-white;
}
.illustration__header {
  padding: 1.5em 0.5em 0.5em;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: $mobile-border-radius;
  border-top-right-radius: $mobile-border-radius;
  background: linear-gradient(
    to right,
    $color-gradient-light-violet,
    $color-gradient-light-magenta
  );

  * + * {
    margin-top: 0;
  }

  .left-side {
    display: flex;
  }

  .back-btn,
  .more-btn {
    width: 1em;
    filter: invert(100%) sepia(0%) saturate(9%) hue-rotate(234deg)
      brightness(105%) contrast(102%);
  }

  .back-btn {
    margin-right: 0.25em;
  }

  .user {
    display: grid;
    grid-template-columns: [left-start] minmax(2em, 2.5em) [left-end right-start] 1fr [right-end];
    grid-template-rows: repeat(2, [row] 1em);
  }

  .user__avatar {
    height: 100%;
    grid-column: left;
    grid-row: span 2;
    border: 2px solid $color-white;
    border-radius: 50%;
    align-self: center;
    justify-self: start;
  }

  .user__name {
    grid-column: right;
    grid-row: row 1;
    margin: 0;
    font-size: 0.8rem;
    color: $color-white;
  }

  .user__status {
    align-self: end;
    grid-column: right;
    grid-row: row 2;
    margin: 0;
    font-size: 0.6rem;
    color: $color-user-status;
  }
}

.illustration__main {
  display: inline-flex;
  flex-direction: column;
  font-size: 0.58rem;

  > * {
    margin: 0.5em 1em;
  }

  .message-user {
    align-self: flex-start;
    max-width: 60%;
    padding: 0.75em;
    border-radius: $message-border-radius $message-border-radius
      $message-border-radius 0.25rem;
    background-color: #ede5f4;
    color: $color-message-user;
  }

  .my-images {
    display: flex;
    align-items: center;
    align-self: end;

    img {
      margin-top: 0;
      width: 5em;
      border-radius: $message-border-radius;
    }

    img:not(:last-child) {
      margin-right: 0.5em;
    }
  }

  .message-me {
    max-width: 60%;
    padding: 0.75em;
    align-self: flex-end;
    border-radius: $message-border-radius $message-border-radius 0.25rem
      $message-border-radius;
    background-color: $color-white;
  }

  .message-option {
    max-width: 70%;
    padding: 0.75em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(
      to right,
      $color-gradient-light-magenta,
      $color-gradient-light-violet
    );
    border-radius: $message-border-radius $message-border-radius
      $message-border-radius 0.25rem;
    color: $color-white;

    div {
      display: flex;
      align-items: center;

      span:first-child {
        width: 1.5em;
        height: 1.5em;
        margin-right: 1em;
        display: inline-block;
        border: 1px solid $color-radio-button-outline;
        border-radius: 50%;
      }
      span:nth-child(2) {
        margin-top: 0;
      }
    }

    .price {
      margin: 0 1em;
      font-size: 1.5em;
      font-family: $font-bold;
    }
  }
}

.illustration__footer {
  margin: 1.5em 1em;
  padding-left: 2em;
  padding-right: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: $mobile-border-radius;
  background: $color-white;
  font-size: 0.58em;
  color: $color-placeholder;

  .submit {
    margin-top: 0;
    border-radius: 50%;
    background-color: $color-submit-button;

    img {
      filter: invert(100%) sepia(0%) saturate(9%) hue-rotate(234deg)
        brightness(105%) contrast(102%);
    }
  }
}

.intro {
  align-self: center;
  text-align: center;

  h1 {
    font-family: $font-medium;
    font-size: 2.5rem;
    color: $color-main-heading;
  }
  p {
    padding: 0 1.75em;
    line-height: 1.7;
    color: $color-paragraph;
  }

  @media (min-width: $screen-desktop) {
    width: 30%;
    margin-top: 0;
    margin-left: 3em;
    text-align: start;

    h1 {
      margin-top: 0;
    }

    p {
      padding: 0;
    }
  }
}

.attribution {
  margin-top: 5em;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
