:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  /* Allow third-party component to set other box-sizing value */
  box-sizing: inherit;
}

body {
  height: 100vh;
  padding: 3em 0 1em;
  position: relative;
  overflow-x: hidden;
  font-family: "Rubik", Arial, Heltivica, sans-serif;
  font-size: 16px;
  background-color: #f6f6f8;
}
@media (min-width: 1440px) {
  body {
    padding: 8em 0 3em;
  }
}

body * + * {
  margin-top: 1.5em;
}

body::before,
body::after {
  width: 35em;
  height: 70vh;
  position: absolute;
  content: "";
  z-index: -1;
}
@media (min-width: 1440px) {
  body::before,
body::after {
    height: 90vh;
  }
}

body::before {
  top: 0;
  left: -23em;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background: linear-gradient(to bottom, #e942ff, #8838ff);
}
@media (min-width: 1440px) {
  body::before {
    left: -8.75em;
  }
}

body::after {
  bottom: 0;
  right: -23em;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  background: #f5f3f7;
}
@media (min-width: 1440px) {
  body::after {
    right: -16em;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1440px) {
  .container {
    flex-direction: row;
    justify-content: center;
  }
}

.illustration {
  margin: 1em 3.5em;
  max-width: 16em;
  background-color: #f6f6f8;
  border: 10px solid white;
  border-radius: 1.5em;
}

.illustration__header:before {
  width: 50%;
  height: 20%;
  position: absolute;
  top: 0;
  left: 25%;
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  content: "";
  background: white;
}

.illustration__header {
  padding: 1.5em 0.5em 0.5em;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  background: linear-gradient(to right, #8838ff, #e942ff);
}
.illustration__header * + * {
  margin-top: 0;
}
.illustration__header .left-side {
  display: flex;
}
.illustration__header .back-btn,
.illustration__header .more-btn {
  width: 1em;
  filter: invert(100%) sepia(0%) saturate(9%) hue-rotate(234deg) brightness(105%) contrast(102%);
}
.illustration__header .back-btn {
  margin-right: 0.25em;
}
.illustration__header .user {
  display: grid;
  grid-template-columns: [left-start] minmax(2em, 2.5em) [left-end right-start] 1fr [right-end];
  grid-template-rows: repeat(2, [row] 1em);
}
.illustration__header .user__avatar {
  height: 100%;
  grid-column: left;
  grid-row: span 2;
  border: 2px solid white;
  border-radius: 50%;
  align-self: center;
  justify-self: start;
}
.illustration__header .user__name {
  grid-column: right;
  grid-row: row 1;
  margin: 0;
  font-size: 0.8rem;
  color: white;
}
.illustration__header .user__status {
  align-self: end;
  grid-column: right;
  grid-row: row 2;
  margin: 0;
  font-size: 0.6rem;
  color: #d89eff;
}

.illustration__main {
  display: inline-flex;
  flex-direction: column;
  font-size: 0.58rem;
}
.illustration__main > * {
  margin: 0.5em 1em;
}
.illustration__main .message-user {
  align-self: flex-start;
  max-width: 60%;
  padding: 0.75em;
  border-radius: 1em 1em 1em 0.25rem;
  background-color: #ede5f4;
  color: #9241c8;
}
.illustration__main .my-images {
  display: flex;
  align-items: center;
  align-self: end;
}
.illustration__main .my-images img {
  margin-top: 0;
  width: 5em;
  border-radius: 1em;
}
.illustration__main .my-images img:not(:last-child) {
  margin-right: 0.5em;
}
.illustration__main .message-me {
  max-width: 60%;
  padding: 0.75em;
  align-self: flex-end;
  border-radius: 1em 1em 0.25rem 1em;
  background-color: white;
}
.illustration__main .message-option {
  max-width: 70%;
  padding: 0.75em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #e942ff, #8838ff);
  border-radius: 1em 1em 1em 0.25rem;
  color: white;
}
.illustration__main .message-option div {
  display: flex;
  align-items: center;
}
.illustration__main .message-option div span:first-child {
  width: 1.5em;
  height: 1.5em;
  margin-right: 1em;
  display: inline-block;
  border: 1px solid #e570ff;
  border-radius: 50%;
}
.illustration__main .message-option div span:nth-child(2) {
  margin-top: 0;
}
.illustration__main .message-option .price {
  margin: 0 1em;
  font-size: 1.5em;
  font-family: "Rubik-Bold", Arial, Heltivica, sans-serif;
}

.illustration__footer {
  margin: 1.5em 1em;
  padding-left: 2em;
  padding-right: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.5em;
  background: white;
  font-size: 0.58em;
  color: #c6cacd;
}
.illustration__footer .submit {
  margin-top: 0;
  border-radius: 50%;
  background-color: #3e2753;
}
.illustration__footer .submit img {
  filter: invert(100%) sepia(0%) saturate(9%) hue-rotate(234deg) brightness(105%) contrast(102%);
}

.intro {
  align-self: center;
  text-align: center;
}
.intro h1 {
  font-family: "Rubik-Medium", Arial, Heltivica, sans-serif;
  font-size: 2.5rem;
  color: #3e2753;
}
.intro p {
  padding: 0 1.75em;
  line-height: 1.7;
  color: #a39daa;
}
@media (min-width: 1440px) {
  .intro {
    width: 30%;
    margin-top: 0;
    margin-left: 3em;
    text-align: start;
  }
  .intro h1 {
    margin-top: 0;
  }
  .intro p {
    padding: 0;
  }
}

.attribution {
  margin-top: 5em;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=style.css.map */
